{# templates/home/home_project.html.twig #}

{# Héritage du template de base #}
{% extends 'base.html.twig' %}

{# Contenu spécifique - page 'home' #}
{% block body %}

{# Bannière image #}
<div id="banner-image">
    <figure>
        <img src="{{ asset('img/background-technology.jpg') }}" alt="">
    </figure>
    <div id="banner-title-animate">
        <h1>Portfolio</h1>
        <p><span><i class="fas fa-project-diagram fa-2x"></i></span>Découvrez toutes mes réalisations ...</p>
    </div>  
</div>

<div class="container"> 

    {# Slider des projets #}
    <section class="project_wrap">
        <div class="project_title">
            <p>Portofolio</p>
        </div>
        
        <h1>Mes projets</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        <hr>
        
        <div class="slider_wrapper">
            
            <div id="slider_container">
                
                <div id="slider"> 
                    {% for project in projects %}
                    
                    {# Eléments projets du slider #}
                    <div class="slider_element">
                        <img src="{{ asset('uploads/images/' ~ project.imageFilename) }}" alt="project-image">
                        <h2>{{project.title}}</h2>
                        <div class="project_period">
                            <p>{{project.period}}</p>
                        </div> 
                        <div class="project_introduction">
                            <p>{{project.introduction}}</p>
                        </div>  
                        <hr>
                        <div class="project_link">
                            {#<p class="more_link">Plus d'infos ... </p>#}
                            <a href="#" class="more_link" target="_blank">Plus d'infos ...</a>
                            <a href="#" class="less_link" target="_blank">Fermer</a>
                        </div> 
                        <div class="project_view">
                            {{project.content | raw}} 
                            <p><a href="{{project.url}}" target="_blank"><span><i class="far fa-hand-point-right"></i></span>Voir le projet</a></p>
                        </div>
                    </div>

                    {% endfor %}
                </div>         
            </div>
        
            <div class="slider_controll">
                {# Flèche gauche du slider #}
                <div id="arrow_left"> 
                    <i class="fas fa-chevron-circle-left fa-lg"></i>
                </div>
        
                {# Bouton 'play' et 'pause' du slider #}
                <div class="action_controll">
                    <div id="pause">
                    <i class="fas fa-pause-circle fa-lg"></i>
                    </div>
                    <div id="play">
                        <i class="fas fa-play-circle fa-lg "></i>
                    </div> 
                </div>
                
                {# Flèche droite du slider #}
                <div id="arrow_right">
                    <a><i class="fas fa-chevron-circle-right fa-lg"></i></a>
                </div>
            </div>
        </div>     
    </section>
</div>

{# Project Slider JS #}          
<script src="{{ asset('js/slider.js') }}"></script>

{# Banner Title JS #}
{#<script src="{{ asset('js/banner_title.js') }}"></script>#}


{% endblock %}