{# templates/home/home_article.html.twig #}

{# Héritage du template de base #}
{% extends 'base.html.twig' %}

{# Contenu spécifique - page 'home' #}
{% block body %}

<div class="container"> 
   
    {# Affichage de l'article #}
    <div class="card">
      <div class="card-header">
      <em>Article publié le {{article.createdAt | date('d/m/Y')}} le {{article.createdAt | date('H:i')}} dans la catégorie {{article.category.title}} </em>
      </div>
      <div class="image_block">
        <img src="{{ asset('uploads/images/' ~ article.imageFilename) }}" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title"> {{article.title}}</h5>
        <span class="badge badge-pill badge-light">{{article.category.title}}</span>
        <br>
        <p><em>{{article.introduction | raw}}</em></p>
        <p class="card-text">{{article.content | raw}}</p>
        <br>
         <a href="{{ path('home_article') }}" class="btn btn-secondary">Retour</a>
      </div>  
    </div>
    
    <hr>

    {# On affiche tous les messages flash dont le nom est « notice » #}
    {% for message in app.session.flashbag.get('notice') %}
      <div class="alert alert-info">Message flash : {{ message }}</div>
    {% endfor %}

    {# Affichage des commentaires associés à l'article #}
    <h4>{{ article.comments | length }} commentaire(s)</h4>
    
    <br>
    
    <section id="commentaire">
      {% for comment in article.comments %}
        <div class="comment">
          <div class="row">
            <div class="col-3">
              {{comment.author}} (<small>{{comment.createdAt | date('d/m/Y à H:i')}}</small>)
            </div>
            <div class="col-9">
              {{comment.content | raw}}
            </div>
          </div>
        </div>
        <br>
      {% endfor %}
    </section>
    
    <br>
    <hr>
    <br>
    
    {# Affichage du formulaire de commentaires #}
    <h4>Ajouter un commentaire</h4>
    
    <br>
    
    {# Balise ouvrante du formulaire #}
    {{ form_start(formComment) }}

    {# Balises de champ de formulaire #}
    {{ form_row(formComment.author, {'attr': {'placeholder': "Votre nom"}}) }}
    {{ form_row(formComment.content, {'attr': {'placeholder': "Votre commentaire"}}) }}
    
    <button type="submit" class="btn btn-primary">Envoyer</button>

    {# Balise fermante du formulaire #}
    {{ form_end(formComment) }}

</div>


{% endblock body %}