{# templates/home/home_article.html.twig #}

{# Héritage du template de base #}
{% extends 'base.html.twig' %}

{# Contenu spécifique - page 'home' #}
{% block body %}

<div class="container"> 
   
    {# Affichage de l'article #}
    <div class="card" id="card_publication_view">
      <div class="card-header">
      <em>Article publié le {{article.createdAt | date('d/m/Y')}} le {{article.createdAt | date('H:i')}} dans la catégorie {{article.category.title}} </em>
      </div>
      <div class="image_block">
        <img src="{{ asset('uploads/images/' ~ article.imageFilename) }}" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title" id="publication_view_title"> {{article.title}}</h5>
        <span class="badge badge-pill badge-light" id="publication_view_badge">{{article.category.title}}</span>
        <br>
        <p><em>{{article.introduction | raw}}</em></p>
        <p class="card-text">{{article.content | raw}}</p>
        <br>
         <a href="{{ path('home_article') }}" class="btn btn-secondary">Retour</a>
      </div>  
    </div>
    
    <hr>

    {# On affiche tous les messages flash dont le nom est « notice » #}
    {% for message in app.session.flashbag.get('notice') %}
      <div class="alert alert-info">Message flash : {{ message }}</div>
    {% endfor %}

    {# Affichage des commentaires associés à l'article #}
    <div class="comment_header">
      <h4><i class="fas fa-comment"></i>{{ article.comments | length }} commentaire(s)</h4>
    </div>
    
    
    <br>
    
    <section id="comment_section">
      {% for comment in article.comments %}
        <div class="comment">
          <div class="row">
            <div class="col-3">
              {{comment.author}} (<small>{{comment.createdAt | date('d/m/Y à H:i')}}</small>)
            </div>
            <div class="col-9">
              {{comment.content | raw}}
            </div>
          </div>
        </div>
        <br>
      {% endfor %}
    </section>
    
    <br>
    <hr>
    <br>
    
    {# Affichage du formulaire de commentaires #}
    <div class="add_comment_title">
      <h4><i class="far fa-comment-dots"></i>Ajouter un commentaire</h4>
    </div>
    
    <br>
    {# Si l'utilisateur est pas connecté, on affiche le formulaire des commentaires #}
    {% if app.user %}
      {# Balise ouvrante du formulaire #}
      {{ form_start(formComment) }}

      {# Balises de champ de formulaire #}
      {{ form_row(formComment.author, {'attr': {'placeholder': "Votre nom"}}) }}
      {{ form_row(formComment.content, {'attr': {'placeholder': "Votre commentaire"}}) }}
      
      <button type="submit" class="btn btn-primary">Envoyer</button>

      {# Balise fermante du formulaire #}
      {{ form_end(formComment) }}
    {% else %}
      <div class="commentform_user">
        <p>Vous ne pouvez pas laisser de commentaires si vous n'êtes pas connectés !</p>
        <a href="{{ path('security_login') }}" class="btn btn-secondary">Se connecter</a>
      </div>
    {% endif %}
</div>


{% endblock body %}