{# templates/home/home_article.html.twig #}

{# Héritage du template de base #}
{% extends 'base.html.twig' %}

{# Contenu spécifique - page 'home' #}
{% block body %}

{# Bannière image #}
<div id="banner-image">
    <figure>
        <img src="{{ asset('img/background-technology.jpg') }}" alt="">
    </figure>  
</div>

<div class="container"> 
    <section class="publication_wrap">
        {# Titre de la section 'Publications' #}
        <div class="publication_title">
            <p>Publications</p>
        </div>

        <h1>Derniers articles</h1>
        
        {# Affichage des dernières publications #}
        <article class="publication_container">
            {% for article in articles %}
                <div class="card-deck">
                    <div class="card">
                        <div class="image_block">
                            <img src="{{ asset('uploads/images/' ~ article.imageFilename) }}" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{article.title | raw}}</h5>
                            <span class="badge badge-pill badge-light">{{article.category.title}}</span>
                            <p class="card-text">{{article.introduction | raw}}</p>
                            <p class="card-text"><small class="text-muted">Article publié le {{article.createdAt | date('d/m/Y')}}</small></p>
                            <a href="{{ path('home_article_view', {'id' : article.id}) }}" class="btn btn-secondary">Lire la suite</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </article>
    </section>
</div>

{% endblock body %}