{# templates/home/home.html.twig #}

{# Héritage du template de base #}
{% extends 'base.html.twig' %}

{# Contenu spécifique - page 'home' #}
{% block body %}

    {# Bannière image #}
    <div id="main-banner">
        <div id="banner-image">
            <figure>
                <img src="{{ asset('img/background-technology.jpg') }}" alt="banner-technology-image">
            </figure>
        </div>

        <div id="profil-image">
            <figure>
                <img src="{{ asset('img/profil-image.jpg') }}" alt="profil-image">
            </figure>
        </div>

        <div id="banner-title">
            <h1>Bienvenue sur mon<span> portfolio</span></h1>
        </div>

        <div class="scrollButton_down_education">
            <a href="#home_education">
                <i class="fas fa-angle-double-down fa-2x"></i>
            </a>
        </div>

    </div>

    <section id="home_profil">
        <div id="circuit_image">
            <img src="{{ asset('img/circuit_print.png') }}" alt="Circuit-imprimé">
        </div>
        <h2>Xavier DAVID</h2>
        <div class="profil_title">
            <p>Développeur Web Junior</p>
        </div>
        <div id="first_paragraph">
            <p><em>Après plus de 20 ans d'expérience dans le secteur associatif, j'ai relevé le défi d'une reconversion professionnelle afin d'apprendre un nouveau métier. Passionné par les nouvelles technologies et leurs constantes évolutions, j'ai su, à force de travail et de persévérance, me donner les moyens de réussir ce challenge et faire mes premières armes dans l'univers du code informatique.</em></p>
        </div>
        <div id="second_paragraph">
            <p><span><i class="far fa-smile-wink fa-2x"></i></span>I'm looking for a job ! Vous recherchez des compétences pour votre entreprise ? Je serai ravi de vous proposer ma collaboration pour participer à la réalisation de vos projets numériques. Passionné par les technologies du web (frontend et backend), j'apprécie particulièrement l'environnement de travail et les performances du framework PHP Symfony.</p>
        </div>
        <hr>
    </section>

    {# Affichage des formations #}
    <section id="home_education">
        <div id="education_header">
            <p><a href="{{ path('home_article') }}"><span><i class="fas fa-newspaper"></i></span>Mes derniers articles</a></p>
        </div>
        <h2>Formation</h2>

        <div class="scrollButton_down_skills">
            <a href="#home_skills">
                <i class="fas fa-angle-double-down fa-2x"></i>
            </a>
        </div>

        <div class="education_wrap">
            {% for education in educations %}

                <div class="education_card">
                    <img src="{{ asset('uploads/images/'~ education.imageFilename) }}" alt="education_image">

                    <div class="education_description">
                        <div class="education_certification">
                            <p><strong>{{education.certification | raw}}</strong></p>                           </p>
                        </div>

                        <div class="education_period">
                            <p>{{education.periodStart | date('m/Y')}}
                                {% if education.ongoing == 1 %}
                                    à aujourd'hui
                                {% else %}
                                    au {{education.periodEnd | date('m/Y')}}</p>
                                {% endif %}
                        </div>
                    </div>
                    <div class="education_link">
                        <span><a href="{{education.url | raw}}" target="_blank">{{education.url}}</a></span>
                    </div>
                </div>

            {% endfor %}
        </div>
    </section>

    {# Affichage des compétences #}
    <section id="home_skills">
        <div id="circuit_image_skills">
            <img src="{{ asset('img/circuit_print.png') }}" alt="Circuit-imprimé">
        </div>
        <div id="skills_header">
            <p><a href="../img/cv_xavier_david.pdf" download="cv_xavier_david.pdf"><span><i class="fas fa-file"></i></span>Télécharger mon CV !</a></p>
        </div>
        <h2>Compétences</h2>

        <div class="scrollButton_down_experiences">
            <a href="#home_experiences">
                <i class="fas fa-angle-double-down fa-2x"></i>
            </a>
        </div>

        <div class="skill_wrap">
            {% for skill in skills %}
                <div class="skill_content">
                    <figure class="skill_image">
                        <img src="{{ asset('uploads/images/' ~ skill.imageFilename) }}" alt="skill_image">
                    </figure>
                    <div class="skill_description">
                        <p>{{skill.name | raw}}
                            <span class="skill_level">
                                {% for i in 1..5 %}
                                    {% if i <= skill.level %}
                                        <i class="fas fa-star"></i>
                                    {% else %}
                                        <i class="far fa-star"></i>
                                    {% endif %}
                                {% endfor %}
                            </span>
                        </p>
                    </div>
                </div>
            {% endfor %}
         </div>
    </section>

    {# Affichage des expériences professionnelles #}
    <section id="home_experiences">
        <div id="experiences_header">
            <p><a href="{{ path('home_project') }}"><span><i class="fas fa-project-diagram"></i></span>En savoir plus sur mes réalisations</a></p>
        </div>
        <h2>Experiences</h2>

        <div class="scrollButton_down_map">
            <a href="#home_map">
                <i class="fas fa-angle-double-down fa-2x"></i>
            </a>
        </div>


        {% for experience in experiences %}
            <div class="experience_wrap">
                <div class="experience_period">
                    <p><span><i class="far fa-calendar-alt"></i></span>{{experience.periodStart | date('d/m/Y')}}
                {% if experience.ongoing == 1 %}
                    à aujourd'hui
                {% else %}
                    au {{experience.periodEnd | date('d/m/Y')}}</span></p>
                {% endif %}
                </div>
                <div class="experience_content">
                    <figure class="experience_image">
                        <img src="{{ asset('uploads/images/' ~ experience.imageFilename) }}" alt="experience_image">
                    </figure>
                    <div class="experience_description">
                        <p>{{experience.company | raw}}</p>
                        <p>{{experience.mission | raw}}</p>
                        <p>{{experience.content | raw}}</p>
                    </div>
                </div>
                <div class="experience_link">
                    <a href="{{experience.url}}" target="_blank">{{experience.url | raw}}</a>
                </div>
            </div>
        {% endfor %}
    </section>


    {# Affichage de la carte du parcours professionnel #}
    <section id="home_map">
        <div id="map_header">
            <p><a href="{{ path('contact') }}"><span><i class="fas fa-info-circle"></i>Besoin d'infos ?</a></p>
        </div>
        {# Accueil de la carte #}
        <div id="map_description">
            <h2>Mon parcours</h2>
            <div id="map_title">
                <p>On the Map !</p>
            </div>
            <div id="map_introduction">
                <p><span><i class="fas fa-map-pin fa-2x"></i></span>Visualisez sur la carte, la localisation de mon parcours de formation et de mes expériences professionnelles en cliquant sur les 'popups'. Et découvrez par la même occasion toute la puissance du langage Javascript, de la technologie 'Ajax' et des services web de cartographie !</p>
            </div>
            <hr>
        </div>
        {# Carte #}
        <div id="mapid"></div>
    </section >


    {# Leaflet JavaScript link #}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

    {# Ajax JS #}
    <script src="{{ asset('js/ajax.js') }}"></script>

    {# Map JS #}
    <script src="{{ asset('js/map.js') }}"></script>

    {# Scroll JS #}
        <script src="{{ asset('js/scroll.js') }}"></script>


{% endblock body %}
