<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {# Mobile device encode #}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {# Bootstrap link #}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {# Font Awesome link #}
        <script src="https://kit.fontawesome.com/44950cf195.js" crossorigin="anonymous"></script>
        
        <title>{% block title %}Portfolio de Xavier DAVID{% endblock %}</title>
        
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}
            {#<link rel="stylesheet" href="/build/app.css">#}
            
            {# css link #}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/app.css') }}">
        {% endblock %}
    </head>
    
    <body>
        
        {# Header du site #}   
        <div class="container"> 
            <header> 
                <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">
                        <img src="{{ asset('uploads/images/' ~ '03.jpeg') }}" width="30" height="30" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarColor02">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('home')}}">Accueil <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('home_project')}}">Portfolio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('home_article')}}">Publications</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                        </ul>
                        <form class="form-inline">
                            <button class="btn btn-sm btn-outline-secondary" type="button">Connexion</button>
                        </form>
                    </div>
                </nav>        
            </header>
                
            {# Conteneur du bloc 'body' #}
            {% block body %}{% endblock %}
        </div>
        
        {# Javascript #}
        {% block javascript %}
            <!-- Tiny MCE API CDN link -->
            <script src="https://cdn.tiny.cloud/1/ap3ws4up4zey4cecb360l3ctoj2w9z3wfuu6l251n0kkuybj/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
            <script>tinymce.init({
                selector: '.tinymce',
                mode:"exact",
                elements:"contenu",
                entity_encoding : "raw",
                encoding: "UTF-8",
            })</script>

            <!-- Project Slider JS -->
            <script src="{{ asset('js/slider.js') }}"></script>
        {% endblock %}
    
    </body>
</html>
