<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {# Mobile device encode #}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {# Bootstrap link #}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {# Font Awesome link #}
        <script src="https://kit.fontawesome.com/44950cf195.js" crossorigin="anonymous"></script>
        
        <title>{% block title %}Portfolio de Xavier DAVID{% endblock %}</title>
        
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {# {{ encore_entry_link_tags('app') }}#}
            {#<link rel="stylesheet" href="/build/app.css">#}
            
            {# css link #}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/app.css') }}">
        {% endblock %}
    </head>
    
    <body>
        
        {# Header du site #}   
        <header>                 
            <a href="#" id="logo"></a>
            <div id="hamburger">
                <div id="hamburger-content">
                    <nav>
                        <ul>
                            <li><a href="{{ path('home') }}">Accueil</a></li>
                            <li><a href="{{ path('home_project') }}">Portfolio</a></li>
                            <li><a href="{{ path('home_article') }}">Publications</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                    
                    {# Si l'utilisateur n'est pas connecté, on affiche le bouton 'Connexion' #}
                    {% if not app.user %}
                        <div id="login">
                            <a href="{{ path('security_login') }}" class="button button-sign-in">Connexion</a>
                        </div>
                        {# Sinon, si l'utilisateur est connecté, on affiche le bouton 'Déconnexion' #}
                    {% else %}
                        <div id="logout">
                            <a href="{{ path('security_logout') }}" class="button button-sign-in">Déconnexion</a>
                        </div>
                    {% endif %}
                </div>
                
                <div id="hamburger-button"><i class="fas fa-bars"></i></div> {# Bouton du menu hamburger avec son entité HTML #}
            </div>
            
            <div id="hamburger-sidebar"> {# Menu déroulant à partir du côté qui sera rempli du contenu du menu 'hamburger-content' #}
                <div id="hamburger-sidebar-header"></div>
                <div id="hamburger-sidebar-body"></div>
            </div>
            
            <div id="hamburger-overlay"></div> {# Masque de menu en fond #}
        </header>

        <div class="container">  
            {# Conteneur du bloc 'body' #}
            {% block body %}{% endblock %}
        </div>
        
        {# Javascript #}
        {% block javascript %}
            <!-- Tiny MCE API CDN link -->
            <script src="https://cdn.tiny.cloud/1/ap3ws4up4zey4cecb360l3ctoj2w9z3wfuu6l251n0kkuybj/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
            <script>tinymce.init({
                selector: '.tinymce',
                mode:"exact",
                elements:"contenu",
                entity_encoding : "raw",
                encoding: "UTF-8",
            })</script>

            <!-- Menu JS -->
            <script src="{{ asset('js/menu.js') }}"></script>   
        {% endblock %}
    
    </body>
</html>
