<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {# Mobile device encode #}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {# Bootstrap link #}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {# Leaflet link #}
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
        {# Font Awesome link #}
        <script src="https://kit.fontawesome.com/44950cf195.js" crossorigin="anonymous"></script>
        
        <title>{% block title %}Portfolio de Xavier DAVID{% endblock %}</title>
        
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {# {{ encore_entry_link_tags('app') }}#}
            {#<link rel="stylesheet" href="/build/app.css">#}
            
            {# css link #}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/app.css') }}">
        {% endblock %}
    </head>
    
    <body>

        {# Bouton de retour vers le haut #} 
        <div class="scrollButton_up">
            <i class="fas fa-chevron-circle-up fa-2x"></i>
        </div>

        
        {# Header du site #}   
        <header>                 
            {# Logo #}
            <a href="#" id="logo"></a>
            {# Menu #}
            <div id="hamburger">
                <div id="hamburger-content">
                    <nav>
                        <ul>
                            <li><a href="{{ path('home') }}"><span><i class="fas fa-home"></i></span>Accueil</a></li>
                            <li><a href="{{ path('home_project') }}">Portfolio</a></li>
                            <li><a href="{{ path('home_article') }}">Publications</a></li>
                            <li><a href="{{ path('contact' )}}">Contact</a></li>
                        </ul>
                    </nav>
                    
                    {# Si l'utilisateur n'est pas connecté, on affiche le bouton 'Connexion' #}
                    {% if not app.user %}
                        <div id="login">                            
                            <a href="{{ path('security_login') }}" class="button button-sign-in"><span><i class="fas fa-sign-in-alt"></i></span>Connexion</a>
                        </div>
                        {# Sinon, si l'utilisateur est connecté, on affiche le bouton 'Déconnexion' #}
                    {% else %}
                        <div id="logout">                        
                            <a href="{{ path('security_logout') }}" class="button button-sign-in"><span><i class="fas fa-sign-out-alt"></i></span>Déconnexion</a>
                        </div>
                    {% endif %}
                </div>
                
                <div id="hamburger-button"><i class="fas fa-bars"></i></div> {# Bouton du menu hamburger avec son entité HTML #}
            </div>
            
            <div id="hamburger-sidebar"> {# Menu déroulant à partir du côté qui sera rempli du contenu du menu 'hamburger-content' #}
                <div id="hamburger-sidebar-header"></div>
                <div id="hamburger-sidebar-body"></div>
            </div>
            
            <div id="hamburger-overlay"></div> {# Masque de menu en fond #}

            {# Accueil utilisateur - Accès au tableau de bord 'admin' #}
            
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div id="user-status">
                    <div id="user-message">
                        <p>Bonjour {{app.user.username}} !</p>
                    </div>
                    {% if is_granted('ROLE_ADMIN') %}
                        <div id="admin-access">
                            <p><a href="{{ path('admin_dashboard')}}">Tableau de bord</a></p>
                        </div>
                    {% endif %}
                </div>   
            {% endif %}
                
        </header>
        
        
        {# Conteneur du bloc 'body' #}
        {% block body %}{% endblock %} 

        {# Menu JS #}
        <script src="{{ asset('js/menu.js') }}"></script>

        {# Tiny MCE API CDN link #}
            <script src="https://cdn.tiny.cloud/1/ap3ws4up4zey4cecb360l3ctoj2w9z3wfuu6l251n0kkuybj/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
            <script>tinymce.init({
                selector: '.tinymce',
                mode:"exact",
                elements:"contenu",
                entity_encoding : "raw",
                encoding: "UTF-8",
            })</script> 

        {# Javascript #}
        {% block javascript %}{% endblock %} 
       
    
        <footer>
            <div id="footer_filter"></div>
            <figure>
                <img src="{{ asset('img/desktop-footer.jpg') }}" alt="footer-image-desktop">
            </figure> 

            <div id="footer_item1">
                <h4>Xavier DAVID</h4>
                <hr>
                <ul>
                    <li>2 impasse des renardières - 28190 Fontaine-la-Guyon</li>
                    <li>06.73.98.56.65</li>
                    <li><a href="mailto:xav.david28@gmail.com" target="_blank">xav.david28@gmail.com</a>                 </li>
                </ul>
                
                <div id="footer_link">
                    <a href="{{ path('contact' )}}">Me contacter</a>
                </div>
            </div>
           <div id="portfolio_copyright">
                <p>©Xavier DAVID - 2019</p>
                <p>
                    <a href="#">Mentions légales - Protection des données </a>
                </p>
            </div> 
        </footer> 

    </body>
</html>
