{# templates/experience/experience_edit.html.twig #}


{# Le template hérite du second template 'père' base_experience.html.twig  #}
{% extends 'experience/base_experience.html.twig' %}

{# Application d'un thème bootstrap (défini dans twig.yaml) au formulaire formExperience #}
{% form_theme formExperience 'bootstrap_4_horizontal_layout.html.twig' %}

{# Bloc de contenu title spécifique à la vue - Affiche le titre par défaut du template 'père' #}
{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block experience_body %}

    <h3>Modifier une expérience</h3>

    {# Affichage du formulaire #}
    
    {# Balise ouvrante du formulaire #}
    {{ form_start(formExperience) }}

    {# Balises de champ de formulaire #}
    {{ form_row(formExperience.mission, {'attr' : {'placeholder': "Intitulé du poste"}}) }}
    {{ form_row(formExperience.company, {'attr' : {'placeholder': "Nom de l'entreprise"}}) }}
    {{ form_row(formExperience.address, {'attr' : {'placeholder': "Adresse complète de l'entreprise"}}) }}
    {{ form_row(formExperience.content, {'attr' : {'placeholder': "Principales missions"}}) }}
    {{ form_row(formExperience.periodStart, {'attr' : {'placeholder': "Date de début"}}) }}
    {{ form_row(formExperience.periodEnd, {'attr' : {'placeholder': "Date de fin"}}) }}
    {{ form_row(formExperience.url, {'attr' : {'placeholder': "Url de l'entreprise"}}) }}
    {{ form_row(formExperience.imageFilename, {'attr' : {'placeholder': "Fichier image"}}) }}
    {{ form_row(formExperience.ongoing) }}
    {{ form_row(formExperience.published) }}

    <button type="submit" class="btn btn-primary">Modifier l'expérience</button>
    <a href="{{ path('experience_view', {'id' : experience.id}) }}" class="btn btn-link">Retour à l'expérience</a>

    {# Balise fermante du formulaire #}
    {{ form_end(formExperience) }}

{% endblock %}