{# templates/experience/experience_delete.html.twig #}

{% extends 'experience/base_experience.html.twig' %}

{% block title %}
  Supprimer une expérience - {{ parent() }}
{% endblock %}

{% block experience_body %}

  
  <h2>Supprimer une expérience</h2>

  <p>
    Etes-vous certain de vouloir supprimer l'expérience "{{ experience.mission }}" ?
  </p>

  {# On met l'id de l'expérience dans la route de l'action du formulaire #}
  <form action="{{ path('experience_delete', {'id': experience.id}) }}" method="post">
    <a href="{{ path('experience_view', {'id': experience.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
        Retour à l'expérience
    </a>
    {# Bouton de soumission #}
    <input type="submit" value="Supprimer" class="btn btn-danger" />
  
    {# On génère le champ CSRF #}
    {{ form_rest(form) }}
  </form>

{% endblock %}