{# templates/article/article_edit.html.twig #}


{# Le template hérite du second template 'père' advertLayout.html.twig  #}
{% extends 'article/base_article.html.twig' %}

{# Application d'un thème bootstrap (défini dans twig.yaml) au formulaire formArticle #}
{% form_theme formArticle 'bootstrap_4_horizontal_layout.html.twig' %}

{# Bloc de contenu title spécifique à la vue - Affiche le titre par défaut du template 'père' #}
{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block article_body %}

    <h1>Modification d'un article</h1>

    {# Affichage du formulaire #}
    
    {# Balise ouvrante du formulaire #}
    {{ form_start(formArticle) }}

    {# Balises de champ de formulaire #}
    {{ form_row(formArticle.title, {'attr' : {'placeholder': "Titre de l'article"}}) }}
    {{ form_row(formArticle.category, {'attr' : {'placeholder': "Titre de l'article"}}) }}
    {{ form_row(formArticle.content, {'attr' : {'placeholder': "Contenu de l'article"}}) }}
    {{ form_row(formArticle.image) }}

  <button type="submit" class="btn btn-success"> Modifier l'article </button>
  
  

    {# Balise fermante du formulaire #}
    {{ form_end(formArticle) }}

{% endblock %}