{# templates/article/index_article.html.twig #}

{# Le template hérite du second template 'père' advertLayout.html.twig  #}
{% extends 'article/base_article.html.twig' %}

{# Bloc de contenu body spécifique à la vue #}
{% block article_body %}

    {# On affiche tous les messages flash dont le nom est « info » #}
    {% for message in app.session.flashbag.get('notice') %}
      <div class="alert alert-info">Message flash : {{ message }}</div>
    {% endfor %}

    {# Affichage d'un article #}
    <div class="card">
      <div class="card-header">
      <em>Article publié le {{article.createdAt | date('d/m/Y')}} le {{article.createdAt | date('H:i')}} dans la catégorie {{article.category.title}} </em>
      </div>
      <img src="http://placehold.it/350x150" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"> {{article.title}}</h5>
        <p class="card-text">{{article.content | raw}}</p>
        <br>
      </div>
    </div>
    <hr>
    
    {# Affichage des commentaires associés à l'article #}
   
    <section id="commentaire">
      {% for comment in article.comments %}
        <div class="comment">
          <div class="row">
            <div class="col-3">
              {{comment.author}} (<small>{{comment.createdAt | date('d/m/Y à H:i')}}</small>)
            </div>
            <div class="col-9">
              {{comment.content | raw}}
            </div>
          </div>
        </div>
      {% endfor %}
    </section>

{% endblock %}